legend {
	color: pink;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 1rem;
	font-weight: bold;
	margin-bottom: 3rem;
}

.form-container .mission-info {
	font-size: 2rem;
}

.form-container {
	width: 50rem;
	margin: auto;
	border: 1px solid grey;
	padding: 2rem;
	background-color: #787878;
	display: flex;
	color: white;
	justify-content: center;
	text-align: center;
}

.form-container .mission-info span {
	display: inline-block;
	margin-left: 10px;
}
